<div class="container">
        <div class="row">
                <div class="text-center">
                        <h1>{{ site.title }}</h1>
                        <img class="logo" src="assets/images/danieldanielecki.jpg" alt="Logo" aria-label="Logo" title="Logo">
                        <h2>{{ site.description1 }}</h2>
                        <h3>{{ site.description2 }}</h3>
                        <h4>ℹ️ About</h4>
                        <p>
                                I do have a many interests outside programming. For some of them, you can
                                find
                                me
                                online. Stock Exchange - <a aria-label="StockTwits" alt="StockTwits" title="StockTwits"
                                        href="https://stocktwits.com/{{ site.stocktwits }}" rel="noopener"
                                        target="_blank">StockTwits</a>, Running - <a aria-label="Strava" alt="Strava"
                                        title="Strava" href="https://strava.com/athletes/{{ site.strava }}"
                                        rel="noopener" target="_blank">Strava</a>, (Human) Languages - <a
                                        aria-label="DuoLingo" alt="DuoLingo" title="DuoLingo"
                                        href="https://www.duolingo.com/profile/{{ site.duolingo }}" rel="noopener"
                                        target="_blank">DuoLingo</a>,
                                Crowdfunding - <a aria-label="Kickstarter" alt="Kickstarter" title="Kickstarter"
                                        href="https://kickstarter.com/profile/{{ site.kickstarter }}" rel="noopener"
                                        target="_blank">Kickstarter</a>. I'm also interested
                                about entreprenurship and startups.
                        </p>
                        <h4>☎️ (Direct) Contact</h4>
                        <p>
                                Chinese, Japanese, and Korean connections can drop me a
                                message on WeChat (WeChat ID: danieldanielecki), Line (Line ID: danieldanielecki), and KakaoTalk (Kakao ID:
                                danieldanielecki), respectively. Whereas, international please use
                                <a aria-label="Telegram" alt="Telegram" title="Telegram"
                                        href="https://t.me/{{ site.telegram }}" rel="noopener"
                                        target="_blank">Telegram</a>.
                        </p>
                        <h4>💰 Pss...</h4>
                        <p>
                                <a aria-label="PayPal" alt="PayPal" title="PayPal"
                                        href="https://paypal.me/{{ site.paypal }}" rel="noopener"
                                        target="_blank">PayPal</a>
                                &
                                <a aria-label="MetaMask" alt="MetaMask" title="MetaMask"
                                        href="https://metamask.app.link/send/{{ site.metamask }}" rel="noopener"
                                        target="_blank" title="MetaMask Wallet Address">MetaMask</a>
                                is open for paying
                                consulting hours,
                                donations,
                                freelance,
                                sponsorship,
                                tips,
                                etc.
                        </p>
                        <h4>🚀 Projects</h4>
                        <p>
                        <ul>
                                <li><a aria-label="TamoTam" alt="TamoTam" title="TamoTam"
                                                href="https://github.com/tamotam-com/tamotam-app" rel="noopener"
                                                target="_blank">TamoTam</a> - React Native mobile app available on <a
                                                aria-label="Android" alt="Android" title="Android"
                                                href="https://play.google.com/store/apps/details?id=com.tamotam.application"
                                                rel="noopener" target="_blank">Android</a> and <a aria-label="iOS"
                                                alt="iOS" title="iOS"
                                                href="https://apps.apple.com/pl/app/tamotam-hangout-offline/id1625649957"
                                                rel="noopener" target="_blank">iOS</a>.</li>
                                <li><a aria-label="Doyban" alt="Doyban" title="Doyban" href="https://doyban.com"
                                                rel="noopener" target="_blank">Doyban</a> - <a
                                                aria-label="Kickstarter campaign" alt="Kickstarter campaign"
                                                title="Kickstarter campaign"
                                                href="https://www.kickstarter.com/projects/danieldanielecki/games-without-installation"
                                                rel="noopener" target="_blank">Kickstarter campaign</a> about 5G Ready
                                        Mobile
                                        Games and its <a aria-label="games" alt="games" title="games"
                                                href="https://doyban.com/games/" rel="noopener"
                                                target="_blank">games</a>.</li>
                                <li><a aria-label="Ditectrev" alt="Ditectrev" title="Ditectrev"
                                                href="https://ditectrev.com" rel="noopener"
                                                target="_blank">Ditectrev</a> -
                                        consulting and <a aria-label="online education" alt="online education"
                                                title="online education"
                                                href="https://www.udemy.com/user/social-ditectrev/" rel="noopener"
                                                target="_blank">online education</a>.</li>
                                <li>Crypto Hackathon
                                        Co-Winner (<a aria-label="repo" alt="repo" title="repo"
                                                href="https://github.com/danieldanielecki/DEX-TON-Contest"
                                                rel="noopener" target="_blank">repo</a>)
                                        - <a aria-label="Frontend of Decentralized EXchange (DEX)"
                                                alt="Frontend of Decentralized EXchange (DEX)"
                                                title="Frontend of Decentralized EXchange (DEX)"
                                                href="https://dex-ton-contest.vercel.app" rel="noopener"
                                                target="_blank">Frontend of Decentralized EXchange (DEX)</a> with
                                        liquidity pools for TON Blockchain.</li>
                        </ul>
                        </p>
                        <h4>👨‍🏫 Talks & Trainings</h4>
                        <p>
                        <ul>
                                <li><a aria-label="TypeScript's Strict Compiler Options"
                                                alt="TypeScript's Strict Compiler Options"
                                                title="TypeScript's Strict Compiler Options"
                                                href="https://github.com/danieldanielecki/TypeScript-s-Strict-Compiler-Options"
                                                rel="noopener" target="_blank">TypeScript's Strict Compiler Options</a>
                                        - internal talk at Capgemini and <a aria-label="Conf42 JavaScript 2021"
                                                alt="Conf42 JavaScript 2021" title="Conf42 JavaScript 2021"
                                                href="https://www.youtube.com/watch?v=o0HEbXdCyKg" rel="noopener"
                                                target="_blank">Conf42 JavaScript 2021</a>.</li>
                                <li><a aria-label="tsc --strict@vue" alt="tsc --strict@vue" title="tsc --strict@vue"
                                                href="https://github.com/danieldanielecki/tsc--strict-vue"
                                                rel="noopener" target="_blank">tsc --strict@vue</a> - <a
                                                aria-label="VueJS Amsterdam 2022 online track"
                                                alt="VueJS Amsterdam 2022 online track"
                                                title="VueJS Amsterdam 2022 online track"
                                                href="https://www.youtube.com/watch?v=pVun2TNT8dk" rel="noopener"
                                                target="_blank">VueJS Amsterdam 2022 online track</a>.</li>
                                <li><a aria-label="JavaScript Security Engineering"
                                                alt="JavaScript Security Engineering"
                                                title="JavaScript Security Engineering"
                                                href="https://github.com/danieldanielecki/JavaScript-Security-Engineering"
                                                rel="noopener" target="_blank">JavaScript Security Engineering</a> -
                                        internal 3 hours workshop at Capgemini with a bunch of demos.</li>
                                <li><a aria-label="Uncovering Browser Storage" alt="Uncovering Browser Storage"
                                                title="Uncovering Browser Storage"
                                                href="https://github.com/danieldanielecki/Uncovering-Browser-Storage"
                                                rel="noopener" target="_blank">Uncovering Browser Storage</a> - DevCon 2022 and internal talk at Capgemini.</li>
                                <li><a aria-label="Types of Unit Tests" alt="Types of Unit Tests"
                                                title="Types of Unit Tests"
                                                href="https://github.com/danieldanielecki/Types-of-Unit-Tests"
                                                rel="noopener" target="_blank">Types of Unit Tests</a>
                                        - in progress...</li>
                                <li>IndexedDB - future...</li>
                                <li>Cookies - future...</li>
                                <li>Architecture Testing - future...</li>
                                <li>Performance of Unit Tests - future...</li>
                                <li>Memory Leaks on Frontend - future...</li>
                                <li>Module Federation - future...</li>
                                <li>Serverless Security - future...</li>
                                <li>ESLint vs tsconfig --strict - future...</li>
                        </ul>
                        </p>
                        <h4>👔 Professional Social Media</h4>
                        <p>
                                <a aria-label="GitHub" alt="GitHub" title="GitHub" class="social-icon"
                                        href="https://github.com/{{ site.github }}" rel="noopener" target="_blank"><img
                                                src="assets/icons/github.svg" alt="GitHub" aria-label="GitHub"></a>
                                <a aria-label="LinkedIn" alt="LinkedIn" title="LinkedIn" class="social-icon"
                                        href="https://linkedin.com/in/{{ site.linkedin }}" rel="noopener"
                                        target="_blank" rel="noopener" target="_blank"><img src="assets/icons/linkedin.svg"
                                                alt="LinkedIn" aria-label="LinkedIn" title="LinkedIn"></a>
                                <a aria-label="Stack Overflow" alt="Stack Overflow" title="Stack Overflow"
                                        class="social-icon"
                                        href="https://stackoverflow.com/users/{{ site.stackoverflow }}" rel="noopener"
                                        target="_blank"><img src="assets/icons/stackoverflow.svg" alt="Stack Overflow"
                                                aria-label="Stack Overflow" title="Stack Overflow" rel="noopener"
                                                target="_blank"></a>
                                <a aria-label="Twitter" alt="Twitter" title="Twitter" class="social-icon"
                                        href="https://twitter.com/{{ site.twitter }}" rel="noopener"
                                        target="_blank"><img src="assets/icons/twitter.svg" alt="Twitter" aria-label="Twitter"
                                                title="Twitter"></a>
                                <a aria-label="Udemy" alt="Udemy" title="Udemy" class="social-icon"
                                        href="https://udemy.com/user/{{ site.udemy }}" rel="noopener"
                                        target="_blank"><img src="assets/icons/udemy.svg" alt="Udemy" aria-label="Udemy"
                                                title="Udemy"></a>
                        </p>
                </div>
        </div>
