<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <main>
    {% include navbar.html %}
    {{ content }}
  </main>
  {% include footer.html %}
</body>

</html>

<!-- Vanta.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"
  integrity="sha512-334uBDwY0iZ2TklV1OtDtBW9vp7jjP7SWRzT7Ehu1fdtPIjTpCwTSFb8HI/YBau9L1/kRBEOALrS229Kry4yFQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.waves.min.js"></script>
<script>
  VANTA.WAVES({
    el: "html",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0xc5c5e1,
    shininess: 150.00,
    waveHeight: 6.00,
    waveSpeed: 2.00,
    zoom: 0.65
  })
</script>
<!-- End of Vanta.js -->
